@using System.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site B</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://SiteB.demo.local:9557/">Site B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>&nbsp;</li>
                    <li>@Html.ActionLink("Identity Server login", "LoginViaIdentityServerCodeFlow", "Home", new {@class = "navbar-brand"})</li>
                    <li>@Html.ActionLink("Local login", "LocalLogin", "Home", null, new {@class = "navbar-brand"})</li>
                    <li>@Html.ActionLink("MVC controller redirects", "Index", "App", new {@class = "navbar-brand"})</li>
                    <li>&nbsp;</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sites <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="https://identity.demo.local/help">Identity Server</a>
                        </li>
                        <li>
                            <a href="http://Sitea.demo.local:9556/">Site A</a>
                        </li>
                        <li>
                            <a href="http://siteb.demo.local:9557" class="active">Site B</a>
                        </li>
                        <li>
                            <a href="http://sitec.demo.local:9557">Site C</a>
                        </li>
                        <li>
                            <a href="https://identity.demo.local/core/permissions">Permissions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://identity.demo.local/core/permissions">
                        Authenticated
                        @if (User.Identity.IsAuthenticated)
                        {
                            <strong>true</strong>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <strong>false</strong>
                        }
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Signout", "Signout", "Home", new {@class = "navbar-brand"})</li>
                }
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br/>
<div class="container">
    <div class="jumbotron">
        <h1>Site B</h1>
        @RenderBody()
    </div>
    <footer>
        <p>
            Rendered at <strong>@DateTime.Now.ToLongTimeString()</strong>
        </p>
    </footer>
</div> <!-- /container -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>
